<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Copying progress</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="static/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="static/js/uikit.min.js"></script>
    <script src="static/js/uikit-icons.min.js"></script>
</head>
<body>
<div>
    <div class="uk-container uk-container-small uk-margin-medium-top uk-margin-medium-bottom">
        <form action="/stop" method="get">
            <fieldset class="uk-fieldset">
                <div uk-grid>
                    <legend class="uk-legend uk-inline uk-width-expand">Your channel:
                        {{ if and .Channel .Channel.Snippet }}
                            {{ .Channel.Snippet.Title }}
                        {{ else }}
                            <span class="uk-text-danger">Snippet hasn't loaded</span>
                        {{ end }}
                    </legend>
                    <div class="uk-inline uk-flex-right uk-width-auto">
                        <a class="uk-button uk-button-danger" href="/destroy">Destroy Session</a>
                        <div uk-dropdown>Your session data on this website (not YouTube or Google) will be deleted.</div>
                    </div>
                </div>
                <div class="uk-margin">
                    <label for="user-playlist">Your destination playlist</label>
                    <select id="user-playlist" name="destination-playlist" class="uk-select" disabled>
                        {{ if and .DestPlaylist .DestPlaylist.Snippet }}
                            <option>{{ .DestPlaylist.Snippet.Title }}</option>
                        {{ else }}
                            <option class="uk-text-danger">Snippet hasn't loaded!</option>
                        {{ end }}
                    </select>
                </div>
                <div class="uk-margin">
                    <span>You can leave this page, progress won't stop.</span>
                    <span>Refresh this page to update this progress bar.</span>
                </div>
                <div class="uk-margin">
                    {{ if .Progress }}
                    <label for="progress">Copying progress {{.Progress.Count}}/{{.Progress.End}}</label>
                        {{ if eq .Progress.Count .Progress.End }}
                        <progress id="progress" class="uk-progress" value="1" max="1"></progress>
                        {{ else }}
                        <progress id="progress" class="uk-progress" value="{{.Progress.Count}}" max="{{.Progress.End}}"></progress>
                        {{ end }}
                    {{ else }}
                        <span class="uk-text-danger">Progress hasn't loaded!</span>
                    {{ end }}
                </div>
                <div class="uk-margin">
                    <label for="source-playlists">Copying playlists</label>
                    <table id="source-playlists" class="uk-table uk-table-striped">
                        <thead>
                        <tr>
                            <th class="uk-table-shrink"></th>
                            <th class="uk-table-expand">Title</th>
                            <th class="uk-table-shrink">Videos Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range .SourcePlaylists }}
                            <tr>
                                <td>
                                    {{ $thumbnailURL := GetThumbnailsUrl .Snippet }}
                                    {{ if $thumbnailURL }}
                                    <img class="uk-preserve-width" src="{{$thumbnailURL}}" width="40" alt="">
                                    {{ end }}
                                </td>
                                <td>
                                    {{ if .Snippet }}
                                    <a href="https://www.youtube.com/playlist?list={{.Id}}">{{.Snippet.Title}}</a>
                                    {{ else }}
                                    <span class="uk-text-danger">???</span>
                                    {{ end }}
                                </td>
                                <td>
                                    {{ if .ContentDetails }}
                                    {{ .ContentDetails.ItemCount }}
                                    {{ else }}
                                    <span class="uk-text-danger">???</span>
                                    {{ end }}
                                </td>
                            </tr>
                        {{ end }}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>{{ .ItemsCount }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="uk-margin uk-inline uk-float-right">
                    {{ if eq .Progress.Count .Progress.End | and .Progress }}
                    <button class="uk-button uk-button-primary" type="submit">OK</button>
                    <div uk-dropdown>Copying completed</div>
                    {{ else }}
                    <button class="uk-button uk-button-danger" type="submit">Cancel Copying</button>
                    <div uk-dropdown>Stop copying playlists.</div>
                    {{ end }}
                </div>
            </fieldset>
        </form>
    </div>
</div>

</body>
</html>